<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>图片信息</title>
    </head>

    <body>

        <div class="contentDiv">
            <table class="table table-hover table-condensed">
                <legend>
                    <strong>信息列表</strong>
                    <span style="float:right;"><a class="btn btn-danger" th:href="@{/pictures/app/list}">人员</a></span>
                </legend>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>进件号</th>
                        <th>图片类型</th>
                        <th>系统</th>
                        <th>存储标识</th>
                        <th>KID</th>
                        <th>管理</th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="picture : ${pictures}">
						<th scope="row" th:text="${picture.id}"></th>
                        <td><a th:href="${picture.scanUrl}" th:text="${picture.imgname}"></a></td>
                        <td><a th:href="@{/pictures/show/list/{appNo}(appNo=${picture.appNo})}" th:text="${picture.appNo}"></a></td>
                        <td th:text="${picture.subclassSort}"></td>
                        <td th:text="${picture.sysName}"></td>
                        <td th:switch="${picture.picFlag}">
						  <p th:case="1">GFS</p>
						  <p th:case="*">FASTDFS</p>
						</td>
                        <td th:text="${picture.kId}"></td>
                        <td><a class="btn btn-primary" th:href="@{/pictures/show/one/{id}(id=${picture.id})}">查看</a></td>
					</tr>
                </tbody>
            </table>
        
	        <!-- 分页模块 -->
	        <nav style="text-align: center;">
	            <ul class="pagination">
	                <li><a th:href="@{${'/pictures/find/list/'}+${appNo}(pageNum=1,pageSize=${page.pageSize})}">&laquo;</a></li>
	                <li>
	                    <a th:if="${not page.isFirstPage}" th:href="@{${'/pictures/find/list/'}+${appNo}(pageNum=${page.pageNum-1},pageSize=${page.pageSize})}">上一页</a>
	                    <a th:if="${page.isFirstPage}" href="javascript:void(0);">上一页</a>
	                </li>
	
	                <li th:each="pageNo : ${#numbers.sequence(1, (page.pages == 0) ? 1:page.pages)}">
	                    <a th:if="${page.pageNum eq pageNo}" href="javascript:void(0);">
	                         <span th:text="${pageNo}"></span>
	                    </a>
	                    <a th:if="${not (page.pageNum eq pageNo)}" th:href="@{${'/pictures/find/list/'}+${appNo}(pageNum=${pageNo},size=${page.pageSize})}">
	                        <span th:text="${pageNo}"></span>
	                    </a>
	                </li>
	                
	                <li>
						<a th:if="${not page.isLastPage}" th:href="@{${'/pictures/find/list/'}+${appNo}(pageNum=${page.pageNum+1},size=${page.pageSize})}">下一页</a>
						<a th:if="${page.isLastPage}" href="javascript:void(0);">下一页</a>
	                </li>
	                <li><a th:href="@{${'/pictures/find/list/'}+${appNo}(pageNum=${page.pages},pageSize=${page.pageSize})}">&raquo;</a></li>
	            </ul>
	        </nav>
        </div>
    </body>
</html>