<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>APPLICANT INFO</title>
    </head>

    <body>

        <div class="contentDiv">
            <table class="table table-hover table-condensed">
                <legend>
                    <strong>人员列表</strong>
                </legend>
                <thead>
                    <tr>
                        <th>进件号</th>
                        <th>姓名</th>
                        <th>手机号</th>
                        <th>公司</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>地址</th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="app : ${applicants}">
                        <td><a th:href="@{/pictures/find/list/{appNo}(appNo=${app.appNo})}" th:text="${app.appNo}"></a></td>
                        <td th:text="${app.name}"></td>
                        <td th:text="${app.cellphone}"></td>
                        <td th:text="${app.unitName}"></td>
                        <td th:text="${app.gender}"></td>
                        <td th:text="${app.age}"></td>
                        <td th:text="${app.storeDetail}"></td>
					</tr>
                </tbody>
            </table>
            
            <!-- 分页模块 -->
	        <nav style="text-align: center;">
	            <!-- 处理页数大于7 的情况 -->    
			    <ul class="pagination" th:if="${page.pages gt 7}" >
			        <!-- 上一页 -->
			        <li class="page-item" th:classappend="*{first} ? 'disabled' : ''">
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=1,pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pageNum} - 1" aria-label="上一页">
			                <span aria-hidden="true">«</span>
			            </a>
			        </li>
			
			        <!-- 首页 -->
			        <li class="page-item" th:classappend="${page.pageNum eq 1} ? 'active' : ''" >
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=1,pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=0">1</a>
			        </li>
			
			        <!-- 当前页面小于等于4 -->
			        <li class="page-item" th:if="${(page.pageNum + 1) le 4}" th:each="i : ${#numbers.sequence(2,5)}" 
			            th:classappend="${page.pageNum eq i} ? 'active' : ''" >
			            <a class="page-link" th:href="@{${'/pictures/app/list/'}(pageNum=${i},pageSize=${page.pageSize})}" th:attr="pageIndex=${i} - 1">
			                <span th:text="${i}"></span>
			            </a>
			        </li>
			        <li class="page-item disabled" th:if="${(page.pageNum + 1) le 4}">
			            <a href="javascript:void(0);" class="page-link">
			                <span aria-hidden="true">...</span>
			            </a>
			        </li>
			
			        <!-- 最后一页与当前页面之差，小于等于3 -->
			        <li class="page-item disabled" th:if="${(page.pages-(page.pageNum + 1)) le 3}">
			            <a href="javascript:void(0);" class="page-link">
			                <span aria-hidden="true">...</span>
			            </a>
			        </li>  
			        <li class="page-item" th:if="${(page.pages-(page.pageNum + 1)) le 3}" th:each="i : ${#numbers.sequence(page.pages-4, page.pages-1)}" 
			            th:classappend="${page.pageNum eq i} ? 'active' : ''" >
			            <a class="page-link" th:href="@{${'/pictures/app/list/'}(pageNum=${i},pageSize=${page.pageSize})}" th:attr="pageIndex=${i} - 1">
			                <span th:text="${i}"></span>
			           </a>
			        </li>
			
			        <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
			        <li class="page-item disabled" th:if="${((page.pageNum + 1) gt 4) and ((page.pages-(page.pageNum + 1)) gt 3 )}">
			            <a href="javascript:void(0);" class="page-link">
			                <span aria-hidden="true">...</span>
			            </a>
			        </li> 
			        <li class="page-item active" th:if="${((page.pageNum + 1) gt 4) and ((page.pages-(page.pageNum + 1)) gt 3 )}" >
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=${page.pageNum},pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pageNum}"><span th:text="${page.pageNum}"/></a>
			        </li>
			        <li class="page-item" th:if="${((page.pageNum + 1) gt 4) and ((page.pages-(page.pageNum + 1)) gt 3 )}">
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=${page.pageNum + 1},pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pageNum} + 1"><span th:text="${page.pageNum + 1}"/></a>
			        </li>
			        <li class="page-item" th:if="${((page.pageNum + 1) gt 4) and ((page.pages-(page.pageNum + 1)) gt 3 )}">
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=${page.pageNum + 2},pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pageNum} + 2"><span th:text="${page.pageNum + 2}"/></a>
			        </li>
			        <li class="page-item disabled"  th:if="${((page.pageNum + 1) gt 4) and ((page.pages-(page.pageNum + 1)) gt 3 )}">
			            <a href="javascript:void(0);" class="page-link">
			                <span aria-hidden="true">...</span>
			            </a>
			        </li>
			
			        <!-- 最后一页 -->
			        <li class="page-item" th:classappend="${page.pageNum eq page.pages} ? 'active' : ''" >
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=${page.pages},pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pages} - 1"><span th:text="${page.pages}"/></a>
			        </li>
			
			        <!-- 下一页 -->
			        <li class="page-item" th:classappend="*{last} ? 'disabled' : ''">
			            <a th:href="@{${'/pictures/app/list/'}(pageNum=${page.pages},pageSize=${page.pageSize})}" class="page-link" th:attr="pageIndex=${page.pageNum} + 1" aria-label="下一页">
			                <span aria-hidden="true">»</span>
			            </a>
			        </li>
			    </ul>
	        </nav>
        </div>
    </body>
</html>